p
{
font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#nav {
width: 100%;

float: left;
margin:0;
padding: 0;
background-color: #4C4C4C; 
}
#nav ul {
min-width:100%;
position:fixed;

top:0;
left:0;
list-style: none;
margin: 0 auto;
padding: 0; 
background-color: #0066FF; 
height:7%;
font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#nav li {
	float: left; 
}
#nav a:link,a:visited {

	display: block;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding: 14px;
	width:200px;
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	font-size:22px;
	color: #000000;

}

#nav li a:hover {
	background-color: #4c4c4c; 
	color: #FFFFFF;
}