p
{
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:20px;
text-indent:7%;
max-width:65%;
margin-left:15%;
margin-right:auto;
color:#FFFFFF;
}
body {
background-image:url(cloud.jpg);
width:100%;
height:100%;
background-size:cover;
}
img
{
display:block;
margin-left: auto;
margin-right:auto;
float:right;
height:50%;
width:18%;
background-repeat:no-repeat;
}
#casesFrame {
margin-right:1%;
margin-left:auto;
display:block;
margin-top:4%;
float:right;
background-color:#FFFFFF;
}
h1
{
color:#FFFFFF;
margin-left:23%;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:36px;
}
h2
{
color:#FFFFFF;
margin-left:23%;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:26px;
}
#nav {
width: 100%;

float: left;
margin:0;
padding: 0;
background-color: #4C4C4C; 
}
#nav ul {
min-width:100%;
position:fixed;

top:0;
left:0;
list-style: none;
margin: 0 auto;
padding: 0; 
background: linear-gradient(to right, #003D3D, #000000); 
height:7%;
font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#nav li {
	float: left; 
}
#nav a:link,a:visited {

	display: block;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding: 14px;
	width:200px;
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	font-size:21px;
	color: #FFFFFF;

}

#nav li a:hover {

	background: linear-gradient(to right, #FFFFFF, #008A8A ); 
	color: #000000;
}

#writingFrame, #projectsFrame {
display:block;
margin-left:auto;
margin-right:auto;
margin-top:5%;
background-color:#FFFFFF;
max-width:70%;
font-size:18px;

}

object {
display:block;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
max-width:70%;
}


