<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link href="../css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/customStyle.css">

<style>
</style>
</head>


<body>


<div class="row">
	<div class="navbar navbar-default">
		<ul class="nav nav-pills nav-justified pillcolor">
			<li><a href="homepage.html">Max</a></li>
			<li><a href="credentials.html">Credentials</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="cases.html">Cases</a></li>
			<li><a href="writing.html">Writings</a></li>
			<li><a href="interests.html">Interests</a></li>
		</ul>

	</div>
</div>
<br>

<div class="container">
	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8" style="text-align:center;">
			<h1>Resume, Transcripts, and Recent Experience</h1>
		</div>

		<div class="col-md-2">
		</div>
	</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

	<div class="row">
		<div class="constructionWarning" style="text-align:center;">
			<p> This site is under construction, more to come!</p>

		</div>
		<br><br>
</div>






</body>