<html>
<head>
	<title> Max Craft </title>
	
	<script src="jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="customStyle.css">
</head>


<body>
<div class="row">
	<div class="navbar navbar-default">
		<ul class="nav nav-pills nav-justified pillcolor">
			<li><a href="homepage.html">Max</a></li>
			<li><a href="credentials.html">Credentials</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="cases.html">Cases</a></li>
			<li><a href="writing.html">Writings</a></li>
			<li><a href="interests.html">Interests</a></li>
		</ul>

	</div>
</div>

<div class="container">
	<div class="row">

	</div>
</div>









<!-- 
Script for active nav
// $(document).ready(function () {
//         $('ul.nav > li').click(function (e) {
//             e.preventDefault();
//             $('ul.nav > li').removeClass('active');
//             $(this).addClass('active');                
//         });            
//     }); -->

</body>
</html
