<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../mystyle.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link href="../css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/customStyle.css">
<style>
</style>

</head>

<body>

<div class="row">
	<div class="navbar navbar-default">
		<ul class="nav nav-pills nav-justified pillcolor">
			<li><a href="homepage.html">Max</a></li>
			<li><a href="credentials.html">Credentials</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="cases.html">Cases</a></li>
			<li><a href="writing.html">Writings</a></li>
			<li><a href="interests.html">Interests</a></li>
		</ul>

	</div>
</div>


<iframe id="writingFrame" src="https://drive.google.com/embeddedfolderview?id=0B8X9cpESl5njUDc2UUJYaWRvOXc#list" width="100%" height="42%" frameborder="0"></iframe>


<br>
<br>
<br>
<p> This site is under construction, more to come!</p>

<p> "Academic Writing: Research Papers, Sociotechnical Issues, and Philosophy" </p>

</body>